<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Probando Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
      <h1>Primer componente:</h1>
      <app-malaga-description></app-malaga-description>
    </div>
  </ion-content>

  <ion-content>
    <div class="ion-padding">
      <h2>Un componente que contiene otros dos:</h2>
      <app-malaga-information></app-malaga-information>
    </div>
  </ion-content>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>